body {
  font-size: 14px;
}
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/detail/icon_check.png") 0 0 / 100% 100%;
}
.detail_icon_chat {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/detail/icon_chat.png") 0 0 / 100% 100%;
}

.detail_icon_order {
  display: block;
  width: 14px;
  height: 17px;
  background: url("../img/detail/icon_order.png") 0 0 / 100% 100%;
}
